.navbar__item--active {
  color: black !important;
  background-color: #0cbae8 !important;
  border-bottom-width: 0px !important;
}

.navbar-drawer {
  height: fit-content !important;
}

.ant-drawer-header {
  background-color: #9ee3f6 !important;
  padding: 12px 10px !important;
}
.ant-drawer-body {
  padding: 0 !important;
}

.ant-drawer-content-wrapper {
  height: fit-content !important;
}

.navbar-drawer__nav {
  justify-content: right !important;
  font-size: 15px !important;
}

.navbar__icon__item {
  margin-top: 0.5em;
  margin-left: 0.5em;
}

.navbar {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 10;
}

@media (min-width: 500px) {
  .navbar__menu {
    justify-content: right;
    font-size: 20px;
    background-color: #9ee3f6;
}

.navbar__item {
    margin-left: 1em !important;
    text-decoration: none !important;
}

.navbar__icon {
  display: none;
}

}

@media (max-width: 499px) {
.navbar__menu {
  display: none;
}

.navbar__icon {
  justify-content: right;
  font-size: 20px;
  background-color: #9ee3f6;
  height: 2em;
}
}