@import url('../../assets/styles/_variables.css');

.login-card {
    max-width: 20em;
    left: 0;
    right: 0;
    margin: 3em auto;
    margin-bottom: 1em;
    font-family: var(--font-family-montserrat);
    background-color: var(--primary-color-light-100);
    position: relative;
}

.login-card__title {
    margin-top: 0;
}

.login-card__button {
    background-color: var(--primary-color-dark);
}

.login-card__button:first-of-type {
    margin-bottom: 2em;
    margin-right: 5em;
}

.errorMsg {
    margin: 0 auto;
    max-width: fit-content;
}

@media (min-width: 285px) {
    .login-card__button:first-of-type {
        margin-right: 5em;
        margin-bottom: 0em;
    }
}


