@import url('../../assets/styles/_variables.css');

.ant-menu-item-selected.navbar__item--active * {
  color: var(--white);
}

.navbar__item--active {
  background-color: var(--primary-color-dark) !important;
  border-bottom-width: 0px !important;
}

.navbar-drawer {
  height: fit-content !important;
}

.ant-drawer-header {
  background-color: var(--primary-color) !important;
  padding: 12px 10px !important;
}
.ant-drawer-body {
  padding: 0 !important;
}

.ant-drawer-content-wrapper {
  height: fit-content !important;
}

.navbar-drawer__nav {
  justify-content: right !important;
  font-size: 15px !important;
}

.navbar__icon__item {
  margin-top: 0.5em;
  margin-left: 0.5em;
}

.navbar {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: var(--light-shadow);
  grid-column: 1;
  grid-row: 1;
}

@media (min-width: 500px) {
  .navbar__menu {
    align-items: stretch;
    justify-content: right;
    font-size: 20px;
    background-color: var(--primary-color);
    height: 100%;
  }

  .navbar__item {
    margin-left: 1em !important;
    text-decoration: none !important;
    color: var(--white);
  }

  .navbar__icon {
    display: none;
  }

  .ant-menu-title-content {
    display: flex;
    height: 100%;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .navbar__menu {
    display: none;
  }

  .navbar__icon {
    justify-content: right;
    font-size: 20px;
    background-color: var(--primary-color);
    height: 2em;
  }
}
