.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 8vh 92vh;
    height: 100vh;
}

.filters-bar {
    position: sticky;
}

.adverts {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding: 1rem;
    overflow-y: scroll;
    gap: 1.2rem;
}

.adverts::-webkit-scrollbar {
    width: 1rem;
}

.adverts::-webkit-scrollbar-track {
    background: transparent;
}

.adverts::-webkit-scrollbar-thumb {
    background: var(--primary-color-light);
    border-radius: 1rem;
    border: 0.25rem solid var(--white);
}

.adverts::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}
