@import url('../../assets/styles/_variables.css');

.filters-bar, .my-filters-bar {
    grid-row: 1;
    width: 100%;
    position: fixed;
    z-index: 2;
}

.adverts, .adverts__list {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 1.2rem;
    width: 100%;
}

.adverts__list {
    padding: 1rem;
}

.breadCrumbs {
    margin: 0.5em 1em 0em;
    position: sticky;
}
.adverts-section {
    background-color: var(--white);
}

.adverts__pages {
    text-align: center;
    grid-row: 4;
    grid-column: 1;
}

.adverts-filters {
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-content: center;
}


.adverts-error {
    margin-top: 3em;
    width: fit-content;
    height: fit-content;
}


@media only screen and (min-width: 800px) {
    .filters-bar, .my-filters-bar {
        grid-column: 1;
        width: calc(var(--sidebar-width) + 1rem);
        height: 100%;
        margin: 1rem;
    }

    .my-filters-bar {
        margin-top: calc(var(--navbar-height) + 1rem);
    }

    .adverts {
        flex-flow: nowrap;
        flex-direction: column;
    }

    .adverts, .adverts__list {
        width: auto;
    }

    .adverts__pages {
        text-align: center;
    }

    .adverts-filters {
        grid-area: 1/2;
        margin-top: 0;
    }
}
