@import url('../../assets/styles/_variables.css');

.filters-bar {
    grid-row: 1;
    width: 100%;
    position: fixed;
    z-index: 2;
}

.adverts {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 1.2rem;
}

.breadCrumbs {
    margin: 0.5em 1em 0em;
    position: sticky;
}
.adverts-section {
    background-color: var(--white);

}
.adverts__pages {
    position: absolute;
    bottom: 10%;
}
@media only screen and (min-width: 800px) {
    .filters-bar {
        grid-column: 1;
        width: var(--sidebar-width);
        height: 100%;
    }
}
