@import url('../../assets/styles/_variables.css');

.advert-detail {
    max-width: var(--advert-detail-width);
    padding: var(--advert-detail-padding);
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.advert-detail__title {
    font-size: 1.5rem;
}

.advert-detail__images {
    background-color: var(--primary-color);
}

.ant-image-img.advert-image__photo {
    min-width: var(--advert-detail-width);
    height: 14rem;
    object-fit: cover;
    object-position: center;
}

.advert-detail__price {
    align-self: flex-end;
    font-size: 1.3rem;
}

.advert-detail__description {
    font-size: 1.2rem;
}

.advertiser {
    display: flex;
    flex-direction: column;
    row-gap: 0.4rem;
}

.advertiser__title {
    font-size: 1.5rem;
}

.advertiser__email, .advertiser__phone {
    font-size: 1.1rem;
}
