:root {
    --primary-color: #0CBAE8;
    --white: #F9F9F9;

    --font-family-montserrat: 'Montserrat', sans-serif;

    --advert-height: 19rem;
    --advert-info-height: 17rem;
    --advert-info-margin-top: 15rem;
}
